$color-primary: #3e4b5a; 
$color-secondary: #5e6b7a; 
$color-tertiary: #8597ab; 
$color-warning: hsl(30, 80%, 50%) !default; 

$background-color: #f2f5f8; 
$font-family: 'Montserrat', sans-serif; 
$font-size: 16px; 
$font-color: hsl(210, 20%, 40%); 
$font-color-light: #000000; 

$header-height: 90px; 

$workarea-background-color: #f8f8f8; 
$workarea-min-height: calc(100vh - 140px); 
